* {
  padding: 0px;
  margin: 0px;
}

span {
  font-family: "Lato", san-serif;
  color: white;
}

.weather-body {
  background-image: linear-gradient(rgb(192, 198, 218), rgb(95, 150, 192));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.weather-body-night {
  background-image: linear-gradient(rgb(192, 198, 218), rgb(11, 0, 28));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}